/* CSS declarations go here */
.selected{
  background-color: #E9E8E8;
}

.selectWorkout:hover{
  border: none;
  cursor: pointer;
}

.editfield{
  border:none;
  font-size: 100%;
  padding: 0.15em;
}

.editfield:hover{
  background-color:#f9f9f9;
  cursor:pointer;
}

.editfield:focus{
  background-color:#f9f9f9;
  cursor:default;
  border: solid black 1px;
  outline:none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* footer */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 120px;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.copyright {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.cp {
  position: relative;
  float: right;
  margin-right: 25px;
}

ul.bottom-links li {
  margin-left: 10px;
  display: inline;
  decoration: none;
}

.input-group-addon {
  background-color: white;
  border: hidden;
}

.disabled {
  color: gray;
  cursor: not-allowed;
}
