<template name="addWorkout">
  <form role = "form">
    <div class = "col-lg-8 col-md-8 col-xs-8">
        <div class = "input-group datetimepicker" id = "getWorkoutDate">
          <span class = "input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <input name = "workoutDate" id="workoutDate" class="workout-date form-control" type="text" title = "workout date">
        </div>
      </div>
      <div class = "col-xs-4">
          <button type="submit" class="btn btn-primary" id="addWorkout">Add a Workout</button>
      </div>
  </form>

</template>
