<template name="eachExercise">
  <tr class = "exercise {{selectedClass}}">
    <td><input type="text" value="{{name}}" name="exerciseName" class="editfield"></td>
    <td><input type="number" value="{{weight}}" name="exerciseWeight" class="editfield"></td>
    <td><input type="number" value="{{sets}}" name="exerciseSets" class="editfield"></td>
    <td><input type="number" value="{{reps}}" name="exerciseReps" class="editfield"></td>
    <td><span class = "remove input-group-addon"><i class="glyphicon glyphicon-remove text-danger"></i></span></td>
  </tr>
</template>
<!--input type="button" class="remove btn btn-danger btn-xs" value="Delete"-->
