<template name="workouts">

  <ul class = "list-group">
    {{#each workout}}
      <li class = "list-group-item clearfix selectWorkout {{selectedWorkout}}">
        <span>{{date}}</span>
        <span class = "pull-right">
          <span class = "input-group-addon {{selectedWorkout}}" id="deleteWorkout"><i class="glyphicon glyphicon-remove text-danger"></i></span>
        </span>
      </li>
    {{/each}}
  </ul>
    <ul class="pager">
      <li class = "pull-left">
        <a id="prevPage" href="{{newerWorkouts}}">
          <span disabled = "{{newerWorkoutsDisabled}}" class = "{{newerWorkoutsClass}}" aria-hidden="true"><i class="glyphicon glyphicon-chevron-left"></i>Newer</span>
        </a>
      </li>
      <li class = "pull-right">
        <a id="nextPage" href="{{olderWorkouts}}">
          <span disabled = "{{olderWorkoutsDisabled}}" class = "{{olderWorkoutsClass}}" aria-hidden="true">Older<i class="glyphicon glyphicon-chevron-right"></i></span>
        </a>
      </li>
    </ul>
</template>
