<template name="workouts">

  <ul class = "list-group">
    {{#each workout}}
      <li class = "list-group-item clearfix selectWorkout {{selectedWorkout}}">
        <span>{{date}}</span>
        <span class = "pull-right">
          <span class = "input-group-addon {{selectedWorkout}}" id="deleteWorkout"><i class="glyphicon glyphicon-remove text-danger"></i></span>
        </span>
      </li>
    {{/each}}
  </ul>
  <nav>
    <ul class="paginate">
      <li>
        <a id="prevPage" href="{{newerWorkouts}}">
          <span class = "{{newerWorkoutsClass}}" aria-hidden="true"><i><span class="glyphicon glyphicon-chevron-left"></span></i>Newer</span>
        </a>
      </li>
      <li>
        <a id="nextPage" href="{{olderWorkouts}}">
          <span class = "{{olderWorkoutsClass}}" aria-hidden="true">Older<span class="glyphicon glyphicon-chevron-right"></span></span>
        </a>
      </li>
    </ul>
  </nav>
</template>
